/* start general style */
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
/* end general style */
/* start header */
#menu-bootstrap-menu{
    flex:1;
    justify-content: end !important;
}
/* end header */
/* start home page */
.post-image{
    height:200px;
}
.post-image img{
    height:100%;
    object-fit: contain;
}
.post-content{
    height:75px;
}
/* end home page */
/* start footer */
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
/* end footer */