/* start general style */
a{
    text-decoration: none;
    color:#abb8c3;
}
ul{
    list-style:none;
}
.mb-6{
    margin-bottom:5rem !important;
}
.h-200{
    height:200px;
    object-fit: contain;
}
.w-200{
    width:200px;
    object-fit: contain;
}
/* end general style */
/* start header */
#menu-bootstrap-menu{
    flex:1;
    justify-content: end !important;
}
/* end header */
/* start home page */
.post-image{
    height:200px;
}
.post-image img{
    height:100%;
    object-fit: contain;
}
.post-content{
    height:75px;
}
.post-pagination a,
.post-pagination span{
    display:inline-block;
    background-color: #fff;
    color:#111;
    padding:.5rem 1rem;
    border-radius:.5rem;
    font-weight: bold;
    width:100px;
    text-align: center;
}
.one-post-pagination a,
.one-post-pagination span{
    width:auto;
}
.post-pagination a{
    color:#ffc107;
    transition: .3s;
}
.post-pagination a:hover{
    background-color:#ffc107 ;
    color:white;
}
.post-pagination span{
    cursor:not-allowed;
    /* pointer-events: none; */
    background-color: #ccc;
    color: #666;
}

.post-pagination-wp a,
.post-pagination-wp span{
    padding:.5rem;
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-left:1px dashed #ffc107;
    transition:.2s;
}
.post-pagination-wp a{
    color:#ffc107;
    font-weight: bold;
}
.post-pagination-wp span:first-child,
.post-pagination-wp a:first-child{
    border-left:none;
}
.post-pagination-wp a:hover{
    background-color: #ffc107;
    color:white;
    border:1px solid #ffc107;
}
.post-pagination-search a{
    background-color: #ffc107;
    color:white;
    border: 1px solid transparent;
}
.post-pagination-search a:hover{
    background-color: white;
    color:#ffc107;
    border:1px solid #ffc107
}
.bypostauthor .fn{
    position:relative;
}
.bypostauthor .fn::after{
    content:'\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size:.7rem;
    background-color: #fcb900;
    color:white;
    position:absolute;
    right:-1.5rem;
    top:.2rem;
    border-radius:50%;
    padding:0 .2rem;
}
/* end home page */
/* start comments */
#reply-title{
    color:#ffa407;
}
#reply-title > a{
    color:white;
}
#reply-title small a{
    color:var(--bs-danger-rbg)
}
.comments-list img{
    border-radius: 50%;
}
.comments-list .fn a{
    color:#ffa407;
    font-weight: bold;
}
.comments-list .commentmetadata{
    position:absolute;
    top:.5rem;
    right:.5rem;
}
.comments-list .commentmetadata a{
    color:slategray;
}
.comments-list .commentmetadata .comment-edit-link{
    color:#ffa407;
}
.comments-list .reply a{
    margin-left:2rem;
    color:#222;
    background-color: #ffc107;
    padding:.2rem .5rem;
    border-radius: .5rem;
    font-weight: bold;
    transition: .3s;
}
.comments-list .reply a:hover{
    background-color: #aaa;
    color:#ffc107;
}
.comments-list > .comment {
    position:relative;
    background-color: white;
    padding:.5rem;
    border-radius:.5rem;
    margin-bottom:1rem;
}
.comments-list > .comment > .children {
    padding:.5rem;
    margin:.5rem;
    background-color: #ccc;
    border-radius:.5rem;
}
.comments-list > .comment > .children .children{
    background-color: white;
    padding:.5rem;
    margin:.5rem;
    border-radius:.5rem;
}
.says{
    display: none;
}
/* end comments */
/* start 404 page */
.page-404 *{
    max-width:100%;
    width:800px;
    margin:auto;
}
/* end 404 page */
/* start footer */
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
/* end footer */